<div class="">
    <div class="">Login</div>

    <div class="">
        <form action="/login" method="post">

            <div class="">
                <label for="username">Username</label>
                <input name="username" class="" type="text" placeholder="Enter username">
            </div>
            <div class="">
                <label for="password">Password</label>
                <input name="password" class="" type="password" placeholder="Password">
            </div>
            <div class="">
                <div class="">
                    <label class="">
                        <input class="" type="checkbox"> Remember Password</label>
                </div>
            </div>
            <button type="submit" class="">Login</button>
        </form>
        <div class="">
            <a class="" href="/register">Register an Account</a>
            <a class="" href="forgot-password.html">Forgot Password?</a>
            <a class="" href="/">Home Page?</a>
        </div>
    </div>
</div>