
<div class="container">
    <h1>Register an Account</h1>
    
        <form action="/register" method="post" class="form">
            
            <div class="row">
                <div class="form-pair">
                    <label for="firstName">First name</label>
                    <input name="firstName" class="form-input" type="text" placeholder="Enter first name" required>
                </div>
                <div class="form-pair">
                    <label for="lastName">Last name</label>
                    <input name="lastName" class="form-input" type="text" placeholder="Enter last name" required>
                </div>
            </div>

            <div class="col">
                <div class="form-pair">
                    <label for="email">Email address</label>
                    <input name="email" class="form-input" type="email" placeholder="Enter email" required>
                </div>
                <div class="form-pair">
                    <label for="username">Username</label>
                    <input name="username" class="form-input" type="text" placeholder="Enter Username" required>
                </div>
            </div>

            <div class="row">
                <div class="form-pair">
                    <label for="password">Password</label>
                    <input name="password" class="form-input" type="password" placeholder="Password" required >
                </div>
                <div class="form-pair">
                    <label for="passwordConfirm">Confirm Password</label>
                    <input name="passwordConfirm" class="form-input" type="password" placeholder="Confirm password" required>
                </div>
            </div>

            <button type="submit" class="form-submit button">Register</button>

        </form>
    
</div>