
<div class="">
    <div class="">Register an Account</div>
    <div class="">
        <form action="/register" method="post">
            <div class="">
                <div class="">
                    <div class="">
                        <label for="firstName">First name</label>
                        <input name="firstName" class="" type="text" placeholder="Enter first name" required>
                    </div>
                    <div class="">
                        <label for="lastName">Last name</label>
                        <input name="lastName" class="" type="text" placeholder="Enter last name" required>
                    </div>
                </div>
            </div>
            <div class="">
                <label for="username">Username</label>
                <input name="username" class="" type="text" placeholder="Enter Username" required>
            </div>
            <div class="">
                <label for="email">Email address</label>
                <input name="email" class="" type="email" placeholder="Enter email" required>
            </div>
            <div class="">
                <div class="">
                    <div class="">
                        <label for="password">Password</label>
                        <input name="password" class="" type="password" placeholder="Password" required >
                    </div>
                    <div class="">
                        <label for="passwordConfirm">Confirm password</label>
                        <input name="passwordConfirm" class="" type="password" placeholder="Confirm password" required>
                    </div>
                </div>
            </div>
            <button type="submit" class="">Register</button>
        </form>
        <div class="">
            <a class="" href="/login">Login Page</a>
            <a class="" href="forgot-password.html">Forgot Password?</a>
            <a class="" href="/">Home Page?</a>
        </div>
    </div>
</div>