{{> admin/admin-header }}

<body class="">
<!-- Navigation-->
{{> admin/admin-topNav}}



<div class="">
   
    {{> admin/messages}}
    
    
    {{{body}}}
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    
    
    
    
{{> admin/admin-footer}}    
</div>
</body>

</html>
