
<!-- Footer -->
<footer class="df-footer">
    <div class="df-footer-content container">
        <ul>
            <li>
                <a href="/privacypolicy">Privacy Policy</a>
            </li>
            <li>
                <a href="/terms">Terms of Service</a>
            </li>
            <li>
                <a href="/disclaimers">Disclaimers</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="#">Facebook</a>
            </li>
            <li>
                <a href="#">LinkedIn</a>
            </li>
        </ul>
    </div>
    <div class="df-footer-cr">
        <p class="">Copyright &copy; CMS 2021</p>
    </div>    
</footer>

</body>

</html>