<nav class="">
    <div class="">
        <a class="" href="/">Node CMS</a>
        <button class="" type="button">
            <span class=""></span>
        </button>
        <div>
            <ul class="">
                <li class="">
                    <a class="" href="/about">About</a>
                </li>
                {{#if user}}
                <li class="">
                    <a class="" href="/admin">Admin</a>
                </li>
                <li class="">
                <form action="/admin/logout" method="POST" class="">
                    <i class=""></i>
                    <button>Logout</button>
                </form>
                </li>
                {{else}}
                <li class="">
                    <a class="" href="/login">Login</a>
                </li>
                <li class="">
                    <a class="" href="/register">Register</a>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>