<div class="">


    <h3 class="">All Categories </h3>


    <div class="">
        <div class="">
            <table class="">
                <thead class="">
                <tr>
                    <th>Title</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody class="">
                {{#each categories}}
                    <tr>

                        <td>{{title}}</td>
                        <td class="">
                            <a href="/admin/category/edit/{{_id}}" class="" role="button">Edit</a>
                            <form action="/admin/category/delete/{{_id}}?newMethod=DELETE" method="post">
                                <button class="" type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                {{/each}}
                </tbody>

            </table>
        </div>
    </div>

    <hr>

    <div class="">
        <form action="/admin/category/create" method="post" class="">
                <div class="">
                    <label for="catName">Title</label>
                    <input type="text" class="" name="catName" placeholder="Enter category name">
                </div>
                    <button type="submit" class="">Create Category</button>
        </form>
    </div>


</div>