<div id="hero-blog" class="hero">
</div>

<main id="main">        

    <article id="article">
        
        <div id="article-header">

            <h1>{{post.title}}</h1>

            <ul id="social-icons">
                {{!-- <li><img src="media/Facebook.svg" alt="like us on Facebook!" id="facebook-icon"></li> --}}
                {{!-- <li><img src="media/Twitter.svg" alt="follow us on Twitter!" id="twitter-icon"></li> --}}
            </ul>

            <p id="date-posted">{{post.creationDate}}</p>
                
        </div>
        
        <hr id="title-bar"> 

        <article id="article-body">
            
            <p class="newline">{{post.description}}</p>
            
        </article>

    </article>

</main>