<footer class="">
    <div class="">
        <div class="">
            <small>Copyright © Your Website 2021</small>
        </div>
    </div>
</footer>
<!-- Scroll to Top Button-->
<a class="" href="#page-top">
    <i class=""></i>
</a>
<!-- Logout Modal-->
<div class="">
    <div class="">
        <div class="">
            <div class="">
                <h5 class="">Ready to Leave?</h5>
                <button class="" type="button">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="">Select "Logout" below if you are ready to end your current session.</div>
            <div class="">
                <button class="" type="button">Cancel</button>
                <a class="" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Custom scripts for all pages-->
<script src="/js/"></script>
