<nav class="">
    <a class="" href="/">Back To Home</a>
    <button class="" type="button">
        <span class=""></span>
    </button>
    <div class="">
        <ul class="">
            <li class="" title="Dashboard">
                <a class="" href="/admin">
                    <i class=""></i>
                    <span class="">Dashboard</span>
                </a>
            </li>
            
            <li class="" title="Posts">
                <a class="" href="#collapseComponents">
                    <i class=""></i>
                    <span class="">Posts</span>
                </a>
                <ul class="">
                    <li>
                        <a href="/admin/posts">All Posts</a>
                    </li>
                    <li>
                        <a href="/admin/posts/create">Create New Post</a>
                    </li>
                </ul>
            </li>
            
            
            <li class="" data-toggle="tooltip" data-placement="right" title="Categories">
                <a class="" href="/admin/category">
                    <i class=""></i>
                    <span class="">Categories</span>
                </a>
            </li>
        </ul>
        <ul class="">
            <li class="">
                <a class="">
                    <i class=""></i>
                </a>
            </li>
        </ul>
        <ul class="">
            <li class="">
                <form action="/admin/logout" method="POST" class="">
                    <i class=""></i>
                    <button>Logout</button>
                </form>
            </li>
        </ul>
    </div>
</nav>