<div class="container">


    {{#if success_message}}

        <div class="" role="alert">
            <strong>{{success_message}}</strong>

            <button type="button" class="" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

    {{/if}}

    {{#if error_message}}

        <div class="" role="alert">
            <strong>{{error_message}}</strong>

            <button type="button" class="">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

    {{/if}}
    
</div>